.notesTable, .summaryTable {
    color: rgba(0, 0, 0, 0.685);
    border: 2px ;
    height: 100px;
    width: 50%;
    border-collapse: collapse;
}
.controlButtonsWrap li{
    display: inline-block;
}
.popupHidden {
    display: none;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
/* .notesTable .thead span{
    color: white;
    background-color: rgb(110, 110, 110);
    height: 10px;
    width: 20px;
   
}
.notesTable span {
    color: lightgray;
}
.notesTable div{
    background-color: gainsboro;
    outline: solid 2px black;
}
.notesTable span{
    color: white;
}

.thead span {
    border: 2px dashed red;
} */
.tableHead {
    background-color: rgb(156, 156, 156);
    color: white;
    display: flex;
    justify-content: space-between;
}
.noteRow {
    height: 20px;
    margin: 10px 0px;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
}
.noteRow:hover{
    background-color: gray;
}
button {
    padding: 2px;
    border: solid 1px black;
}
button:hover{
  background-color: black;
  color: white;
  border: solid 1px grey;
}