.notesTable, .summaryTable {
    color: rgba(0, 0, 0, 0.685);
    border: 2px ;
    height: 100px;
    width: 50%;
    border-collapse: collapse;
}
.controlButtonsWrap li{
    display: inline-block;
}
.popupHidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
/* .notesTable .thead span{
    color: white;
    background-color: rgb(110, 110, 110);
    height: 10px;
    width: 20px;
   
}
.notesTable span {
    color: lightgray;
}
.notesTable div{
    background-color: gainsboro;
    outline: solid 2px black;
}
.notesTable span{
    color: white;
}

.thead span {
    border: 2px dashed red;
} */
.tableHead {
    background-color: rgb(156, 156, 156);
    color: white;
    display: flex;
    justify-content: space-between;
}


.noteRow {
    height: 20px;
    margin: 10px 0px;
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: space-between;
}
.noteRow:hover{
    background-color: gray;
}
button {
    padding: 2px;
    border: solid 1px black;
}
button:hover{
  background-color: black;
  color: white;
  border: solid 1px grey;
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
}
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 150px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #1f1f1f;/*#3989c9;*/ /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 0.5s; /* Время появления подсказки */
} 
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
}

[contenteditable] {
    padding: 0px 2px;
    background: white;
    border: 1px solid lightgrey;
    overflow-x: hidden;
}

.archiveRecordsShow {
    background-color: black;
}